<%= form_for @image, :html => { :multipart => true } do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>

  <%= f.label :description, "Description" %>
  <%= f.text_field :description %>

  <fieldset>
    <legend>Attach Image</legend>

    <%= f.label :remote_asset_url, "Link for the image" %>
    <%= f.text_field :remote_asset_url %>
    <em>Or</em>
    <%= f.file_field :asset, :onchange => "showimagepreview(this)" %>
    <div>
      <img id="imgprvw" alt="uploaded image preview"/>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit "Upload", class: "button round expand" %>
  </div>
<% end %>