<div class="row">
	<h1><%= @image.title.capitalize %></h1>
</div>
<div class="row collapse text-center" id="image-container">
	<%= image_tag @image.asset.large.url %>
	<%= link_to(content_tag(:span,"", :id => "prev", :class => "nvgt"), @image.prev) if @image.prev %>
	<%= link_to(content_tag(:span,"", :id => "next", :class => "nvgt"), @image.next) if @image.next %>
</div>


<%= link_to 'Edit', edit_image_path(@image) %>