<div class="row">
		<h1><%= @image.title.capitalize %></h1>
	
	<%= image_tag @image.asset.large.url %>
</div>

<%= link_to("Previous Picture", @image.prev) if @image.prev %>
<%= link_to("Next Picture", @image.next) if @image.next %>


<%= link_to 'Edit', edit_image_path(@image) %>